@charset "UTF-8";
:root {
  --main-color:#35C5F2
}

* { box-sizing: border-box; }
body {
  font-family: 'Pretendard', '맑은 고딕', sans-serif;
  color:#111;
}

.center { 
  width:1256px; 
  margin:0 auto; 
  padding:0 60px; }

.active { 
  color:var(--main-color) }
.sticky { 
  position: sticky; 
  top:0;
  background: #fff;
   }


header {
  position: sticky;
  top: 0;
  z-index: 9999;
} 
header .container { 
  border-bottom: 1px solid #dfdfdf;
  background:#fff;
}
.headerTop {   
  display: flex; 
  justify-content: space-between;
  height:80px;
  padding-top:10px;
  padding-bottom:10px;
}
.headerTop > div {
  height:100%;
  display: flex; align-items: center;
}

h1 { margin-right: 35px; }

.top_menu a { 
  margin:0 14px; 
  font-weight: 700; 
  font-size: 18px; }

.top_menu a:hover { color:var(--main-color) }

.search { 
  border:1px solid #dfdfdf; 
  padding:10px; 
  border-radius:4px; } 

.search input { 
  border:none; 
  outline:none; 
  max-width:230px }

.cart { margin: 0 20px; }

.memberList { display: flex;}

.memberList a { 
  padding:0 10px; 
  font-size: 14px; 
  font-weight: 300;
  border-right:1px solid #ebebec; }

.write {
  display: block;
  background:var(--main-color); 
  color:#fff; 
  border:none;
  height: 40px; 
  width:100px; 
  border-radius:4px;
  cursor: pointer;
}

nav.menu {  height:50px; }

.menuList { display:flex; }
.menuList li {  }
.menuList a { 
  display:inline-block;
  font-weight: 600;
  line-height:50px; 
  padding:0 10px}
.menuList a:hover { color:var(--main-color); }
.menuList .active::after{ 
  display:block; 
  content:'';
  width:100%; 
  height: 3px; 
  background:var(--main-color);
  margin-top: -3px;
}

main { margin-top:30px;}

section.center{
  margin: 60px auto;
}

/**************  main_visual *************/
.main_visual { 
  display: flex; 
  column-gap:20px; 
  height:500px;}

.main_visual_01 { 
  flex:3; 
  position: relative; }

.main_visual_02 { flex:1; }

.main_visual figure{ 
  height:500px;
  border-radius:4px; 
  overflow: hidden; }

.main_visual img { 
  width:100%; 
  height:100%; 
  object-fit:cover;}

.main_visual_01 .text { 
  position: absolute; 
  bottom:70px; 
  left:40px;
  font-size:32px; 
  font-weight: 700; 
  color:#fff;
  text-shadow:0 0 5px rgba(0,0,0,0.5); }




/************ icon_menu ***********/

.icon_menuList { 
  display:flex; 
  margin:30px 0 40px; }

.icon_menu li { flex:1; } 
.icon_menu a { 
  display: block; 
  text-align:center; } 
.icon_menu img { 
  width:100%; 
  height:100%; 
  object-fit:contain;} 
.icon_menu span { 
  display: block; 
  margin-top: 10px; } 

  /* section 공통적용 */
.sTitle {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
} 
.title_txt p { margin-bottom: 8px;} 
.title_txt p a {
  font-size: 20px;
  font-weight: 600;
}
.title_txt span {
  font-size: 14px;
  font-weight: 300;}
.title_more a {
  font-weight: 700;
  color: var(--main-color);
}
.title_txt p a:hover, .title_more a:hover {
  opacity: 0.5;
}
.flexWrap {
  display: flex;
  gap: 20px;
}
.flexWrap li {flex: 1;}
.flexWrap li > div {
  position: relative;
  width: 100%;
 
}
.flexWrap li > div figure {
  border-radius: 4px;
  overflow: hidden;
}
.flexWrap li > div figure > img {
  width: 100%;
  cursor: pointer;
  transition: 0.3s;

}

.flexWrap li > div figure > img:hover {
  transform: scale(1.1);
}
.flexImgWrap {
  position: relative;
}
.scrap-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  opacity: 0.5;
  
}
.scrap-btn svg {
  width: 100%;
  height: 100%;

}
.user_wrap {}
.user {
  position: absolute;
  bottom: 10px;
  left: 10px;

}
.user img {
  width: 24px;
  border-radius: 50%;
}
.user span {
  color: #fff;
  font-size: 13px;
}
.thumb_title {
  margin-top: 10px;
  line-height: 1.4;
}
.thumb_title strong {
  color: var(--main-color);
  font-weight: 600;
}
.thumb_title .company {
  font-weight: 600;
}
.thumb_title span {
  font-weight: 300;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-top: 5px;
}
.flexImgWrap figure img {
  width: 100%;
}
/********** footer **********/
footer {
 background: #F7F9FA;
}
footer .center {
  padding:50px 0;
}

.service h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}
.sec3List {
  display:flex;
  margin-bottom: 20px;
}
.sec3List li {
  border: 1px solid rgb(247, 249, 250);
  border-radius: 16px;
  height: 32px;
  border-radius: 16px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 32px;
  color: rgb(47, 52, 56);
  background-color: rgb(247, 249, 250);
  padding:0 10px;
}
.sec3List li:hover {
  background:var(--main-color);
  color: #fff;
}
.sec3List .act{
  background:var(--main-color);
  color: #fff;
}

.text1 {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: gray;
}
.text2 {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bestSpan {
  margin: 5px 0;
}
.text3 {
  
  color: #35C5F2;
  font-weight: bold;
}
.text4 {
  font-weight: bold;
}
.text5 {
  font-size: 13px;
  font-weight: bold;
}
.text6 {
  font-size: 13px;
  color: rgb(112, 109, 109);
  font-weight: bold;
}

.footer_in {
  display: grid;
  grid-template-columns: 1fr 1px 1fr 1px 2fr;
  column-gap: 30px;
}

footer .line {
  background: #111;
}

.footer_menuList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-flow: column;
  grid-template-rows: repeat(6, auto); */
  gap: 20px 10px;
}

.footer_menuList li a {
  white-space: nowrap;
  font-size: 12px;
}
.strong {
  color: #111;
  font-weight: 700;
}
.address p {
  font-size: 12px;
  color: gray;
}
.address p a {
  font-weight: bold;
}
.time {
  font-size: 14px;
}
.time a{
  font-size: 16px;
  font-weight: 700;
  margin-right: 6px;
}

.list {
  font-size: 12px;
  margin: 10px 0;
  
}
button {
  border-radius: 4px;
  height: 32px;
  background: none;
  border: 1px solid rgb(218, 221, 224);
  margin-bottom: 10px;
}
.address_txt p {
  font-size: 10px;
  color: gray;
}
.address_txt p a {
  font-weight: bold;
}
.address_wrap {
  display: flex;
  overflow: hidden;
  
}
.address_btn {
  border: 1px solid rgb(218, 221, 224);
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  padding:0 6px;
  margin-right: 10px;
}
.address_btn img {
  width: 32px;
  height: 32px; 
}
.address_btn > span {
  font-size: 12px;
}
.address_btn1 {
  border: 1px solid rgb(218, 221, 224);
  border-radius: 4px;
  width: 120px;
  height: 40px;  
  margin-right: 10px;
  
}
.address_btn1 img {
  display: block;
  margin: 4px auto;
  width: 32px;
  height: 32px;
  flex: 1; 
}